	html body{
		margin:0;
		height:100%;
		width:100%;
		position:relative;
		}
		.center{
			background-color:#f94845;      /*#FF6347;*/
			height:70%;
			width:90%;
			margin:5%;
			margin-top:2.5%;
			border: 1px solid black;
			/*overflow:scroll*/;
			}
		.big{
			margin-left:5%;
			float:left;
			width:15%;
			color:white;
			/*font-size:65px;*/
			}
		.title{
			float:left;
			color:white;
			}
		iframe{
			border:0px;
			width:100%;
			height:100%;
			}
		.footer{
			background-color:black;
			position:relative; 
			width:100%;
			height:49%; 
			float:bottom;
			color:white;
			/*overflow:scroll*/;
			}
		.link{
			text-align:center;
			height:100%;
			word-wrap:break-word;
			}
		.foot{
			float:left;
			width:33.333%;
			text-align:center;
			}
		h3{
			color:white;
			}
		.link:hover{
			background-color:#FF6347;
			}
		.header{
			background-color:#DDDDDD;
			height:13%;
			width:100%;
			/*overflow:hidden;*/
			}



.header a div {
	-webkit-transition: border-color .25s ease-in-out, color .25s ease-in-out;
	-moz-transition: border-color .25s ease-in-out, color .25s ease-in-out;
	-o-transition: border-color .25s ease-in-out, color .25s ease-in-out;
	transition: border-color .25s ease-in-out, color .25s ease-in-out;
	border-bottom: .2rem solid transparent;
	color: #555;
}

.header a div:hover {
	border-bottom-color: #FF2020;
	color: black;
}





		.head{
			width:12%;
			float:right;
			}
		.head:hover{
    		background-color: #c0c2db;
    		}
		.img{
			float:left;
			margin-left:1%;
			}
		.logo{
			max-height:11%;
			position:absolute;
			margin-left:2%;
			}
		/*.nav{
			line-height:100%;
			}*/
		.left{
				background-color:#DDDDDD;
				float:left;
				width:100%;
				height:76%;
				margin-top:8%;
				border:1px solid black;
				padding:5%;
				padding-top:0px;
			}
		.headerLogo {
			margin-top: .5%;
			float: left;
			height:81%;
			vertical-align: middle;
		}
		
		.linkHead {
			margin-right: 5%;
			line-height:100%;
			float: right;
			height:50%;
			margin-top:2%;
		}